---
layout: default
permalink: "/"
bodyClass: homePage
bodyId: homePage
jsfile: "home/index"
cssFile: "home/style"
title: "React Create HTML Videos | npm install --save react-create-html-video"
metaDescription: "A lightweight React component that programmatically generates and plays an HTML video element with a clean, reusable API. This library does not rely on CSS-in-JS, with styles are intentionally kept minimal. Created with Typescript support."
metaKeywords: "react, react-component, background-video, html5-video, video-background, react-background-video, hero-background, landing-page-background, fullscreen-video, responsive video, webm, mp4, ui-component, frontend, react-ui"
---
