---
layout: default
permalink: "/"
bodyClass: homePage
bodyId: homePage
jsfile: "home/index"
cssFile: "home/style"
title: "React Create HTML Videos | npm install --save react-create-html-video"
metaDescription: "A lightweight React component that programmatically generates and plays an HTML video element with a clean, reusable API. This library does not rely on CSS-in-JS, with styles are intentionally kept minimal. Created with Typescript support."
metaKeywords: "react, react-component, background-video, html5-video, video-background, react-background-video, hero-background, landing-page-background, fullscreen-video, responsive video, webm, mp4, ui-component, frontend, react-ui"
---
<!-- [jumbotron video] --->
<div class="geometricFixedJumbotron positionRelative" id="geometricFixedJumbotron"
  data-mp4="/assets/videos/play-screen.mp4"
  data-webm="/assets/videos/play-screen.webm"
></div>
<!-- [jumbotron video] --->

<!-- [hero content] -->
<section class="heroSection positionRelative">
  <div class="posContainer">
    <h1 class="text-center">Effortlessly Turn React Components into Videos</h1>
    <p class="subText text-center">Author video scenes the same way you build UIs — declarative, reusable, and predictable</p>
    <!-- npm installation command -->
    <div class="terminal">
      <div class="tHeader">
        Terminal
      </div>
      <div class="tBody">
        <p>npm install --save react-create-html-video<span class="cursor"></span></p>
      </div>
    </div>
    <!-- buttons -->
    <div class="buttonContainer">
      <a href="https://www.npmjs.com/package/react-create-html-video" class="btn btn-default npm">
        Checkout NPM
      </a>
      <a href="https://github.com/NPM-Workbench/react-create-html-video" class="btn btn-default git">
        Go To Github
      </a>
    </div>
  </div>
</section>
<!-- [hero content] -->

<div class="mainInfo positionRelative">
  <div class="dottedBg"></div>
  <!-- [features] -->
  <section class="features positionRelative">
    <div class="container">
      <h2>
        <span class="smallText">The Quite Engine</span>
        Where complexity disappears and momentum begins. Seamless Creation.
      </h2>
      <ul class="list-unstyled featuresList">
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="Built for Modern React" title="Built for Modern React"/>
            <span class="description">Designed specifically for modern React applications, embracing functional components and contemporary rendering patterns</span>
          </div>
          <span class="title">Built for Modern React</span>
        </li>
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="TypeScript-First Experience" title="TypeScript-First Experience"/>
            <span class="description">Ships with full TypeScript support, offering strong typings, better editor autocomplete, and safer integrations out of the box</span>
          </div>
          <span class="title">TypeScript-First Experience</span>
        </li>
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="Lightweight &amp; Focused API" title="Lightweight &amp; Focused API"/>
            <span class="description">Exposes a minimal API surface that’s easy to understand, learn, and integrate — no unnecessary abstractions</span>
          </div>
          <span class="title">Lightweight &amp; Focused API</span>
        </li>
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="Native HTML Video Rendering" title="Native HTML Video Rendering"/>
            <span class="description">Renders a standard HTML video element directly in the browser, ensuring predictable behavior and broad compatibility</span>
          </div>
          <span class="title">Native Video Rendering</span>
        </li>
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="MP4 &amp; WebM Format Support" title="MP4 &amp; WebM Format Support"/>
            <span class="description">Provides built-in support for MP4 and WebM video formats, covering the most widely used web video standards</span>
          </div>
          <span class="title">MP4 &amp; WebM Format Support</span>
        </li>
        <li>
          <div class="content">
            <img src="assets/icons/leaf.svg" alt="Zero CSS Setup Required" title="Zero CSS Setup Required"/>
            <span class="description">All required styles are bundled with the package, so there’s no need for manual CSS imports or additional configuration</span>
          </div>
          <span class="title">Zero CSS Setup Required</span>
        </li>
      </ul>
    </div>
  </section>
  <!-- [features] -->

  <!-- [code sample] -->
  <section class="integration positionRelative">
    <div class="container codeEditor">
      <div class="header">
        <div class="segment">
          <span class="round red"></span>
          <span class="round yellow"></span>
          <span class="round green"></span>
        </div>
        <div class="segment">
          <p>src / feature / home-page / index.tsx</p>
        </div>
      </div>
      <div class="body">
        <div class="explorer">
          <div class="iconsList">
            <ul class="list-unstyled">
              <li><img src="assets/icons/code-file.png" alt="Explorer" title="Explorer"/></li>
              <li><img src="assets/icons/code-search.png" alt="Search" title="Search"/></li>
              <li><img src="assets/icons/code-fork.png" alt="Source Control" title="Source Control"/></li>
              <li><img src="assets/icons/code-map.png" alt="Codemaps" title="Codemaps"/></li>
              <li><img src="assets/icons/code-ai.png" alt="Gemini AI" title="Gemini AI"/></li>
            </ul>
          </div>
          <div class="fileSection">
            <span class="title">Explorer</span>
            <span class="appName">
              <img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>
              super-dooper-monolithic
            </span>
            <ul class="list-unstyled">
              <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>node_modules</li>
              <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>public</li>
              <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>src</li>
              <ul class="list-unstyled">
                <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>app</li>
                <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>features</li>
                <ul class="list-unstyled">
                  <li><img src="assets/icons/code-folder.png" alt="" title="" class="folderIcon"/>home-page</li>
                  <ul class="list-unstyled">
                    <li><img src="assets/icons/code-react.png" alt="" title="" class="codeIcon"/>index.tsx</li>
                  </ul>
                </ul>
              </ul>
              <li><img src="assets/icons/code-sass.png" alt="" title="" class="codeIcon"/>global.scss</li>
              <li><img src="assets/icons/code-typescript.png" alt="" title="" class="codeIcon"/>middleware.ts</li>
              <li><img src="assets/icons/code-node.png" alt="" title="" class="codeIcon"/>package-lock.json</li>
              <li><img src="assets/icons/code-node.png" alt="" title="" class="codeIcon"/>package.json</li>
            </ul>
          </div>
        </div>
        <div class="codeSection">
<pre>
  <span class="comment">1. /* node modules */</span>
  <span class="comment">2.</span> <span class="purple">import</span> { ReactCreateHTMLVideo } <span class="purple">from</span> <span class="green">"react-create-html-video"</span>;
  <span class="comment">3.</span>
  <span class="comment">4. /* module */</span>
  <span class="comment">5.</span> <span class="blue">function</span> UIComponent(): <span class="orange">React.ReactElement</span> {
  <span class="comment">6.</span>   return (
  <span class="comment">7.</span>     &lt;<span class="purple">div</span> <span class="blue">className</span>="heroSection positionRelative"&gt;
  <span class="comment">8.</span>       &lt;<span class="purple">ReactCreateHTMLVideo</span>
  <span class="comment">9.</span>         <span class="blue">mp4</span>=<span class="green">"/path/to/mp4/video.mp4"</span>
  <span class="comment">10.</span>        <span class="blue">webm</span>=<span class="green">"/path/to/webm/video.webm"</span>
  <span class="comment">11.</span>      /&gt;
  <span class="comment">12.</span>    &lt;/<span class="purple">div</span>&gt;
  <span class="comment">13.</span>  );
  <span class="comment">14.</span> }
  <span class="comment">15.</span>
  <span class="comment">16.</span> <span class="comment">/* exports */</span>
  <span class="comment">17.</span> <span class="purple">export</span> default <span class="blue">UIComponent</span>;<span class="cursor"></span>
</pre>
        </div>
      </div>
    </div>
  </section>
  <!-- [code sample] -->

  <!-- [skull section] -->
  <section class="skullSection positionRelative" id="skullVideoParent"
    data-mp4="assets/videos/skull.mp4"
    data-webm="assets/videos/skull.webm"
  >
    <div class="container">
      <p>
        Automatically detects browser video support, prefers MP4 playback, falls back to WebM, and
        disables unsupported browsers. Returns null when no compatible format is available.
      </p>
    </div>
  </section>
  <!-- [skull section] -->
</div>
