<div class="container">
  <div class="gridBox">
    <div class="segment">
      <h2>
        Execute with Retries (EWS)
      </h2>
      <p>
        A tiny, dependency-free retry utility with fixed delay or built-in exponential backoff,
        designed for predictable behavior in modern TypeScript applications. Retries: #Predictable.
      </p>
      <ul class="list-unstyled codeLinks">
        <li>
          <a href="https://www.npmjs.com/package/execute-with-retries">Checkout NPM Package</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/execute-with-retries">Go To Github</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/execute-with-retries/pulls">Create a Pull Request</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/execute-with-retries/issues">Raise an Issue</a>
        </li>
      </ul>
    </div>
    <div class="segment">
      <ul class="list-unstyled social">
        <li>
          <a href="https://github.com/sricharankrishnan" target="_blank">
            <img src="assets/icons/github-icon-2.svg" alt="Github Author: Sricharan Krishnan"
                                                      title="Github Author: Sricharan Krishnan"
                                                      class="gitIcon"/>
          </a>
        </li>
        <li>
          <a href="https://flaticon.com" target="_blank">
            <img src="assets/icons/flaticon-icon.png" alt="Icon Attribution: Flaticon"
                                                      title="Icon Attribution: Flaticon"
                                                      />
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/execute-with-retries" target="_blank">
            <img src="assets/icons/npm-square-icon.svg" alt="Checkout NPM"
                                                      title="Checkout NPM"
                                                      />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
