<div class="container">
  <div class="gridBox">
    <div class="segment">
      <h2>
        React Create HTML Video
      </h2>
      <p>
        A lightweight React component that programmatically generates and plays an HTML video element with a clean, reusable API. This library does not rely on CSS-in-JS, with styles are intentionally kept minimal. Created with Typescript support.
      </p>
      <ul class="list-unstyled codeLinks">
        <li>
          <a href="https://www.npmjs.com/package/react-create-html-video">Checkout NPM Package</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/react-create-html-video">Go To Github</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/react-create-html-video/issues">Create a Pull Request</a>
        </li>
        <li>
          <a href="https://github.com/NPM-Workbench/react-create-html-video/pulls">Raise an Issue</a>
        </li>
      </ul>
    </div>
    <div class="segment">
      <ul class="list-unstyled social">
        <li>
          <a href="https://github.com/sricharankrishnan" target="_blank">
            <img src="assets/icons/github-icon-2.svg" alt="Github Author: Sricharan Krishnan"
                                                      title="Github Author: Sricharan Krishnan"
                                                      class="gitIcon"/>
          </a>
        </li>
        <li>
          <a href="https://flaticon.com" target="_blank">
            <img src="assets/icons/flaticon-icon.png" alt="Icon Attribution: Flaticon"
                                                      title="Icon Attribution: Flaticon"
                                                      />
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/react-create-html-video" target="_blank">
            <img src="assets/icons/npm-square-icon.svg" alt="Checkout NPM"
                                                      title="Checkout NPM"
                                                      />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="attributions">
    The videos are from Pexels.com, big thanks to the the original creators who are: <a
                                                                  href="https://www.pexels.com/@rostislav/">Rostislav
                                                                  Uzunov</a> and
    <a href="https://www.pexels.com/@jibarofoto/">Luis Quintero</a>.
  </p>
</div>
