@import "common-imports/mixins.scss";

$headingFont: "EB Garamond", serif;
$bodyFont: "Noto Sans JP", sans-serif;

$black: #000000;
$white: #ffffff;
$default: #bbbbbb;
$lightGrey: #fafafa;
$thisGrey: #888888;
$linkBlue: #228CDB;
$orange: #bf2500;

$baseFontSize: 1.0rem;
$h1Size: 4.0rem;
$h2Size: 3.5rem;
$h3Size: 3.0rem;
$h4Size: 2.5rem;
